{{- if .Values.apiserver.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleet-apiserver
  namespace: {{ .Release.Namespace }}
  labels:
    app: fleet-apiserver
spec:
  replicas: {{ .Values.apiserver.replicas }}
  selector:
    matchLabels:
      app: fleet-apiserver
  template:
    metadata:
      labels:
        app: fleet-apiserver
    spec:
      serviceAccountName: {{ include "fleet.name" . }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity: {{ toYaml .Values.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      containers:
      - name: fleet-apiserver
        image: '{{ template "system_default_registry" . }}{{ .Values.image.repository }}:{{ .Values.image.tag }}'
        imagePullPolicy: {{ .Values.image.imagePullPolicy }}
        command:
        - fleetapiserver
        args:
        - --secure-port={{ .Values.apiserver.securePort }}
        - --cert-dir=/var/run/fleet-apiserver/serving-cert
        - --db-path=/var/lib/fleet-apiserver/bundledeployments.db
        {{- if .Values.debug }}
        - --debug
        - --debug-level={{ .Values.debugLevel }}
        {{- end }}
        ports:
        - containerPort: {{ .Values.apiserver.securePort }}
          name: https
          protocol: TCP
        volumeMounts:
        - name: serving-cert
          mountPath: /var/run/fleet-apiserver/serving-cert
          readOnly: true
        - name: database
          mountPath: /var/lib/fleet-apiserver
        {{- if .Values.apiserver.resources }}
        resources: {{ toYaml .Values.apiserver.resources | nindent 10 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /livez
            port: https
            scheme: HTTPS
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: https
            scheme: HTTPS
          initialDelaySeconds: 5
          periodSeconds: 10
      volumes:
      - name: serving-cert
        secret:
          secretName: fleet-apiserver-cert
          defaultMode: 420
      - name: database
        persistentVolumeClaim:
          claimName: fleet-apiserver-db
{{- end }}
